absl-py==1.3.0
altair==4.2.2
anyascii==0.3.2
association-metrics==0.0.1
astropy==5.2
asttokens==2.2.1
astunparse==1.6.3
attrs==22.2.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.5
boltons==21.0.0
branca==0.6.0
cachetools==5.2.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==2.1.1
cheroot==9.0.0
click==8.1.3
click-spinner==0.1.10
colorama==0.4.6
colorlog==6.7.0
comm==0.1.2
contourpy==1.0.6
contractions==0.1.73
cycler==0.11.0
dacite==1.8.1
dash==2.7.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
datacommons==1.4.3
datacommons-pandas==0.0.3
datapane==0.16.5
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
dominate==2.8.0
dulwich==0.21.5
einsteinpy==0.4.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
face==20.1.1
fastjsonschema==2.17.1
filelock==3.9.0
Flask==2.2.2
Flask-Cors==3.0.10
flatbuffers==23.1.4
fonttools==4.38.0
furl==2.1.3
gast==0.4.0
gensim==4.3.1
geojson==2.5.0
gitdb==4.0.10
GitPython==3.1.31
glom==23.3.0
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.51.1
h5py==3.7.0
idna==3.4
imbalanced-learn==0.10.1
imblearn==0.0
importlib-metadata==6.1.0
importlib-resources==5.12.0
ipykernel==6.21.2
ipyleaflet==0.17.2
ipynbname==2021.3.2
ipython==8.10.0
ipywidgets==8.0.4
itsdangerous==2.1.2
jaraco.functools==3.7.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
keras==2.11.0
kiwisolver==1.4.4
libclang==14.0.6
llvmlite==0.39.1
lxml==4.9.2
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdurl==0.1.2
micawber==0.5.4
mistune==2.0.5
monotonic==1.6
more-itertools==9.1.0
mpmath==1.2.1
multimethod==1.9.1
nbclient==0.8.0
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio==1.5.6
nltk==3.8.1
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
opencv-python==4.7.0.72
openpyxl==3.1.2
opt-einsum==3.3.0
orderedmultidict==1.0.1
packaging==22.0
pandas==1.3.5
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==2.6.2
plotly==5.11.0
posthog==2.5.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.4
pure-eval==0.2.2
pyahocorasick==2.0.0
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.8
pydeck==0.8.0
pyerfa==2.0.0.1
Pygments==2.14.0
Pympler==1.0.1
pyngrok==5.2.3
pyparsing==3.0.9
pyrsistent==0.19.3
PySimpleGUI==4.60.4
python-dateutil==2.8.2
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
pywin32==305
PyYAML==6.0
pyzmq==25.0.0
regex==2023.3.23
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.3.2
rsa==4.9
RuleFit @ git+https://github.com/christophM/rulefit.git@2003e48d4769334bfed949550dcd3cd5162ec8cf
scikit-learn==1.2.0
scipy==1.9.3
seaborn==0.12.2
semver==2.13.0
six==1.16.0
sklearn==0.0.post5
smart-open==6.3.0
smmap==5.0.0
soupsieve==2.4.1
stack-data==0.6.2
streamlit==1.20.0
sympy==1.11.1
tabulate==0.9.0
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.29.0
termcolor==2.2.0
textsearch==0.0.24
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.9.0
traittypes==0.2.1
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.3
urllib3==1.26.13
validators==0.20.0
vega-datasets==0.9.0
virtualenv==20.17.1
watchdog==3.0.0
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.2.2
widgetsnbextension==4.0.5
wordcloud==1.8.2.2
wrapt==1.14.1
xlrd==2.0.1
xyzservices==2022.9.0
zipp==3.15.0
